.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
  }
  .navbar a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
  }
  .navbar a:hover {
    background-color: #eeeeee;
  }
  .login-container {
    float: right;
  }
  .login-container a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
  }
  .login-container a:hover {
    background-color: #eeeeee;
  }
  